input {
    display: block;
    padding: 1rem;
    border: 1px solid var(--clr-neutral-200);
    border-radius: 99vh;
    position: relative;
    outline: none;
    width: 100%;
    min-width: 4rem;
    max-width: 7em;
}

input[type="number"] {
    font-weight: var(--fw-bold);
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    margin-right: .5rem;
    display: block;
    transform: translate(0, -43%);
    top: 43%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    color: var(--clr-neutral-200);
    z-index: 2;
}

.input-icon > input {
    padding-left: 1.2rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* Checkbox */
input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline;
}

.custom-checkbox {
    position: relative;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1.5px solid var(--clr-neutral-200);
    border-radius: 50%;
}

input[type="checkbox"]:checked ~ .custom-checkbox::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary-400);
}
